*{
	margin:0;
	padding:0;
	background-color: #222;

}

.container{
	background-color: teal;
	width: 80%;
	margin: 0 10% ;
	position: absolute;
}

.logo{
	background-color: green;
	padding: 10px;
	float: left;	
}

nav{
	float: right;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

nav ul{
	padding: 0;
	margin: 0;
	list-style; none;
}
nav li{
	display: inline-block;
	padding-top: 25px;
	position: absolute;
	margin-left: 70px;
}
